<div class="encabezado bg-header-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title">
                    <div class="breadcrumbs"><a onclick="home();">Home</a> / <span>Catálogo</span></div>
                    <h1>Catálogo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="espaciado">
    <div class="container">

        <div class="content-title text-center">
            <h2><span>Revisa</span><br> Nuestro Catálogo</h2>
            <div class="separador-3 red mt-5 mb-5"></div>
        </div>

        <!-- fila -->
        <div class="row">
            <!-- inicio item 1 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/volkswagen-saveiro.jpg" alt="Volkswagen Saveiro">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 - 4x4</span></li>
                            <li><h3>Volkswagen Saveiro</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>668 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica y Automática</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Gasolina</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-saveiro.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 2 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/maxus-t60.jpg" alt="Maxus T60">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 - 4x4</span></li>
                            <li><h3>Maxus T60</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>800 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica y Automática</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/img/catalogo/ficha-maxus-t60.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 3 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/volkswagen-amarok.jpg" alt="Volkswagen Amarok">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 - 4x4</span></li>
                            <li><h3>Volkswagen Amarok</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>1.041 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Mecánica y Automática">
                                    <span>Mecánica y Automática</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Diesel">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-amarok.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->

        </div>
        <!-- fin fila -->
        <!-- fila -->
        <div class="row">
            <!-- inicio item 1 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/nissan-navara.jpg" alt="Nissan Navara">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 - 4x4</span></li>
                            <li><h3>Nissan Navara</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>desde 1.075 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Mecánica y automática">
                                    <span>Mecánica y automática</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Diesel">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-navara.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 2 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/greatwall-poer.jpg" alt="Great Wall">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 - 4x4</span></li>
                            <li><h3>Great Wall Poer</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>1.050 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica y automática</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-greatwall-poer.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 3 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/citroen-berlingo.jpg" alt="Citroen Berlingo 2021">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2</span></li>
                            <li><h3> Citroen Berlingo</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/volumen.png" alt="kilometraje">
                                    <span>3,8 M3</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-berlingo.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->

        </div>
        <!-- fin fila -->
        <!-- fila -->
        <div class="row">
            <!-- inicio item 1 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/chevrolet-n400.jpg" alt="Citroen Space Tourer">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2</span></li>
                            <li><h3>Chevrolet N400</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/volumen.png" alt="kilometraje">
                                    <span>3,1 M3</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Gasolina</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="#">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 2 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/maxus-ev30.jpg" alt="Maxus EV30">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2</span></li>
                            <li><h3>Maxus EV30</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/volumen.png" alt="kilometraje">
                                    <span>4,8 M3</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Automática">
                                    <span>Automática</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Eléctrico">
                                    <span>Eléctrico</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-ev30.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 3 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/citroen-jumpy.jpg" alt="Citroen Jumpy">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 </span></li>
                            <li><h3>Citroen Jumpy</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/volumen.png" alt="kilometraje">
                                    <span>6,1 M3</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Mecánica">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Diesel">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-jumpy.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->

        </div>
        <!-- fin fila -->
        <!-- fila -->
        <div class="row">
            <!-- inicio item 1 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/maxus-g10.jpg" alt="Maxux G10">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2</span></li>
                            <li><h3>Maxus G10</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/volumen.png" alt="kilometraje">
                                    <span>5,2 M3</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-maxus-g10.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 2 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/citroen-jumper.jpg" alt="Citroen Jumper">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2</span></li>
                            <li><h3>Citroen Jumper</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/volumen.png" alt="kilometraje">
                                    <span>desde 11,5 M3</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="manual">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="gasolina">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-jumper.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 3 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/kia-frontier.jpg" alt="Kia Frontier">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 - 4x4</span></li>
                            <li><h3>Kia Frontier</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>1.660 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Mecánica">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Diesel">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-frontier.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->

        </div>
        <!-- fin fila -->
        <!-- fila -->
        <div class="row">
            <!-- inicio item 1 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/hyundai-hd35.jpg" alt="Hyundai HD35">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2</span></li>
                            <li><h3>Hyundai HD35</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>1.500 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Mecánica">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Diesel">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-hd35.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 2 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo -->
                <div class="img-catalogo">
                    <img src="~/img/catalogo/hyundai-ex8.jpg" alt="Hyundai EX8">
                </div>
                <!-- fin img vehiculo -->
                <!-- info vehiculo -->
                <div class="info-catalogo">
                    <div class="datos-car">
                        <ul>
                            <li><span>4x2 </span></li>
                            <li><h3>Hyundai EX8</h3></li>
                        </ul>
                    </div>
                    <div class="especificaciones">

                        <div class="row">
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/carga.png" alt="kilometraje">
                                    <span>5.600 kg</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/cambios-white.png" alt="Mecánica">
                                    <span>Mecánica</span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="box-esp text-center">
                                    <img src="~/img/iconos/combustible-white.png" alt="Diesel">
                                    <span>Diesel</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="accion">
                        <ul>
                            <li><a class="bft" href="~/img/catalogo/ficha-ex8.pdf" target="_new">Ficha Técnica</a></li>
                            <li><a class="bc" onclick="cotizar();">Cotizar</a></li>
                        </ul>
                    </div>

                </div>
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->
            <!-- inicio item 3 -->
            <div class="col-md-4 p-5">
                <!-- img vehiculo
                <div class="img-catalogo">
                  <img src="/marubeni_leasing/img/catalogo/chevrolet-n400.jpg" alt="Citroen Space Tourer">
                </div> -->
                <!-- fin img vehiculo -->
                <!-- info vehiculo
                <div class="info-catalogo">
                  <div class="datos-car">
                    <ul>
                      <li><span>4x2</span></li>
                      <li><h3>Chevrolet N400</h3></li>
                    </ul>
                  </div>
                  <div class="especificaciones">

                      <div class="row">
                        <div class="col">
                          <div class="box-esp text-center">
                            <img src="/marubeni_leasing/img/iconos/velocimetro-white.png" alt="kilometraje">
                            <span>65.000 k</span>
                          </div>
                        </div>
                        <div class="col">
                          <div class="box-esp text-center">
                            <img src="/marubeni_leasing/img/iconos/cambios-white.png" alt="manual">
                            <span>Mecánica</span>

                          </div>
                        </div>
                        <div class="col">
                          <div class="box-esp text-center">
                            <img src="/marubeni_leasing/img/iconos/combustible-white.png" alt="gasolina">
                            <span>Gasolina</span>
                          </div>
                        </div>
                      </div>

                  </div>
                  <div class="accion">
                    <ul>
                      <li><a class="bft" href="#">Ficha Técnica</a></li>
                      <li><a class="bc" href="/marubeni_leasing/cotizar.html">Cotizar</a></li>
                    </ul>
                  </div>

                </div>-->
                <!-- fin info vehiculo -->
            </div>
            <!-- fin item -->

        </div>
        <!-- fin fila -->





    </div>
</section>
<script src="~/Scripts/page/Catalogo.js"></script>