<div class="encabezado bg-header-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title">
                    <div class="breadcrumbs"><a href="index.html">Home</a> / <span>Contacto</span></div>
                    <h1>Contacto</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="espaciado">
    <div class="container">
        <div class="row">

            <div class="content-title">
                <h2 class="text-center"><span>¿Tienes dudas?</span><br> Escríbenos</h2>
                <!-- <div class="separador red mt-5 mb-5"></div>  -->
                <div class="separador-3 red mt-5 mb-5"></div>
            </div>

            <div class="col-md-12">
                <!-- info -->
                <!-- formulario -->

                <div class="form-marubeni form-contact">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="nombreap" placeholder="Nombre y Apellido">
                        <input type="email" class="form-control" id="emailcont" placeholder="Email">
                        <input type="tel" class="form-control" name="telefono" pattern="[0-9]+" id="telcont" placeholder="Teléfono">
                        <input type="text" class="form-control" placeholder="Asunto">
                        <textarea class="form-control textarea" id="comentario" placeholder="Comentario"></textarea>
                        <button class="btn btn-primary" type="submit" name="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 datos-sucursales">
                <!-- mapa -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.740958035106!2d-70.62280454822196!3d-33.482094406430555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cfff9a1012d3%3A0x4c49f8b0f542aa45!2sVicu%C3%B1a%20Mackenna%203300%2C%20San%20Joaqu%C3%ADn%2C%20Macul%207810808%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1654621046804!5m2!1ses-419!2scl" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                <ul class="locations">
                    <h5>Casa Central </h5>
                    <li><i class="fa-solid fa-location-dot"></i> Avda. Vicuña Mackenna 3300, Macul, Santiago.</li>
                    <li><i class="fa-solid fa-phone"></i> Fono: <a href="tel:+56223500400">+56 2 2350 0400</a></li>
                    <li><i class="fa-solid fa-envelope"></i> Email: <a href="#">contacto@marubenileasing.cl</a></li>
                </ul>
            </div>

            <div class="col-md-6 datos-sucursales">
                <!-- mapa -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2256142529177!2d-70.39207184838764!3d-23.596240268693272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ae2ae6d58f4299%3A0x9a880e76f5a1d7d!2sAv.%20Pedro%20Aguirre%20Cerda%207903%2C%20Antofagasta!5e0!3m2!1ses-419!2scl!4v1654621345141!5m2!1ses-419!2scl" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <ul class="locations">
                    <h5>Antofagasta</h5>
                    <li><i class="fa-solid fa-location-dot"></i> Avenida Pedro Aguirre Cerda N° 7903, Antofagasta.</li>
                    <li><i class="fa-solid fa-phone"></i> Fono: <a href="#">+56 223 500 451</a></li>
                    <li><i class="fa-solid fa-envelope"></i> Email: <a href="#">antofagasta@marubeni.cl</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section class="empresa">
    <div class="container">
        <h2><span>Somos la mejor solución</span><br>para tu empresa</h2>
        <div class="separador-2"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon">
                        <img src="/marubeni_leasing/img/iconos/flotas-disponibles-icono.svg">
                    </div>
                    <h4>Flotas Disponibles</h4>
                    <p>Contamos con productos flexibles y personalizados únicos en la industria.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="/marubeni_leasing/img/iconos/costos-conocidos-icono.svg"></div>
                    <h4>Costos conocidos</h4>
                    <p>Permite planificar el flujo de caja (tarifa mensual conocida), Elimina los costos imprevistos y ocultos derivados de tener flota propia.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="/marubeni_leasing/img/iconos/beneficios-icono.svg"></div>
                    <h4>Beneficios</h4>
                    <p>Es un arriendo con importantes beneficios tributarios.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="/marubeni_leasing/img/iconos/sin-inversion-flota-icono.svg"></div>
                    <h4>Sin inversión de flotas</h4>
                    <p>Libera recursos para la actividad principal de la empresa.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="/marubeni_leasing/img/iconos/control-icono.svg"></div>
                    <h4>Control</h4>
                    <p>Total control de la flota a través de un solo proveedor.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="/marubeni_leasing/img/iconos/continuidad-operacional-icono.svg"></div>
                    <h4>Continuidad Operacional</h4>
                    <p>Tenemos una red certificada de centros de atención, y también entregamos vehículos de reemplazo para la continuidad operacional.</p>
                </div>
            </div>
        </div>
    </div>
</section>