<div class="encabezado bg-header-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title">
                    <div class="breadcrumbs"><a href="index.html">Home</a> / <span>Leasing Financiero</span></div>
                    <h1>Leasing Financiero</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="espaciado">
    <div class="container">
        <div class="row">

            <div class="content-title">
                <h2><span>¿Qué es un</span><br> Leasing Financiero?</h2>
                <div class="separador red mt-5 mb-5"></div>
            </div>

            <div class="col-md-8 align">

                <p>
                    Sistema de financiamiento que consiste en que Marubeni, por orden del cliente, compra y entrega en arriendo, con opción de compra, bienes de capital para que los utilice a un plazo que van desde 12 a 48 meses. Las mantenciones y todos los gastos del vehículo cuentan por parte del Cliente. Al final del contrato puede quedarse o no con el bien.
                </p>

                <!-- <ol class="column-2"> -->
                <ol>
                    <li>
                        <h4>Financiación</h4>
                        <p>Una de las principales ventajas que ofrece el leasing financieros es la posibilidad de financiar completamente la inversión sin tener que hacer frente a un desembolso inicial para acceder al vehículo. En este sentido, implica un menor coste financiero (IVA) si lo comparamos con un préstamo.</p>
                    </li>

                    <li>
                        <h4>Gasto, no deuda</h4>
                        <p>En el caso de las compañías y de los independientes adquirir un vehículo por leasing no consta como un aumento de la deuda empresarial. De esta manera, se pueden llevar a cabo nuevas inversiones sin riesgo de penalización por parte de las distintas entidades de crédito ya que es una operación que no aparece en el sistema financiero. A esto hay que añadir que el vehículo puede deducirse como gasto a la hora de pagar el Impuesto de Sociedades.</p>
                    </li>

                    <li>
                        <h4>Mantenimientos</h4>
                        <p>Los gastos de mantenimiento, averías y reparaciones son por parte del arrendatario. Marubeni cuenta con su propio taller el cual se usa para las operaciones de leasing. Como ventajas para los clientes de leasing Financiero se traspasa el descuento flotista a todos los operadores de Leasing Financiero.</p>
                    </li>

                    <li>
                        <h4>Cambiar de vehículo</h4>
                        <p>Los contratos de leasing son como mínimo de 12 meses. Por lo cual la posibilidad de cambiar de modelo será cada poco tiempo, esto además generará un ahorro en el mantenimiento del vehículo, lo que reduce el riesgo de sufrir averías ligadas a la antiguedad del vehículo.</p>
                    </li>

                    <li>
                        <h4>Opción de Compra</h4>
                        <p>En el momento en el que termina el contrato, el arrendatario tiene varias opciones: puede devolverlo, firmar un nuevo contrato o comprar el coche pagando el valor residual que se debe fijar en el momento de la firma.</p>
                    </li>
                </ol>

                <a class="primary-action mt-4" onclick="cotizar();" role="button">Cotice su servicio</a>

            </div>
            <div class="col-md-4 img-content">

                <!-- imagen -->
                <img src="~/img/leasing_financiero_marubeni_interior.jpg" alt="Marubeni leasing">

            </div>

        </div>
    </div>
</section>



<section class="asesoria">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-info-ban">
                    <h3><span>Necesitas</span> Asesoría?</h3>
                    <p>Si tienes dudas o consultas dobre nuestros servicios de negocio, solo tome contacto con nosotros.</p>
                    <a class="primary-action secundary-action" onclick="contacto();" role="button">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="empresa">
    <div class="container">
        <h2><span>Somos la mejor solución</span><br>para tu empresa</h2>
        <div class="separador-2"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon">
                        <img src="~/img/iconos/flotas-disponibles-icono.svg">
                    </div>
                    <h4>Flotas Disponibles</h4>
                    <p>Contamos con productos flexibles y personalizados únicos en la industria.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/costos-conocidos-icono.svg"></div>
                    <h4>Costos conocidos</h4>
                    <p>Permite planificar el flujo de caja (tarifa mensual conocida), Elimina los costos imprevistos y ocultos derivados de tener flota propia.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/beneficios-icono.svg"></div>
                    <h4>Beneficios</h4>
                    <p>Es un arriendo con importantes beneficios tributarios.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/sin-inversion-flota-icono.svg"></div>
                    <h4>Sin inversión de flotas</h4>
                    <p>Libera recursos para la actividad principal de la empresa.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/control-icono.svg"></div>
                    <h4>Control</h4>
                    <p>Total control de la flota a través de un solo proveedor.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/continuidad-operacional-icono.svg"></div>
                    <h4>Continuidad Operacional</h4>
                    <p>Tenemos una red certificada de centros de atención, y también entregamos vehículos de reemplazo para la continuidad operacional.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/page/LeasingFinanciero.js"></script>