<div class="encabezado bg-header-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title">
                    <div class="breadcrumbs"><a href="index.html">Home</a> / <span>Leaseback</span></div>
                    <h1>Leaseback</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="espaciado">
    <div class="container">
        <div class="row">

            <div class="content-title">
                <h2><span>¿Qué es el</span><br> Leaseback</h2>
                <div class="separador red mt-5 mb-5"></div>
            </div>


            <div class="col-md-8 align">

                <p>Es una buena fuente de liquidez para las empresas. Es una operación de leasing a la inversa, es decir, es una operación donde el propietario de un bien le vende éste a Marubeni y en el mismo acto, suscribe un contrato de arrendamiento sobre el mismo bien. De esta forma, el propietario del bien recibe el dinero producto de esta venta, pero no pierde el uso del bien. Al momento de finalizar el contrato, tiene la opción de comprar nuevamente su activo a un valor residual.</p>

                <ol>
                    <li>
                        <h4>Financiación</h4>
                        <p>El leaseback da la posibilidad de conseguir una fuente de recursos hasta un 80% del valor comercial de la unidad usada. </p>
                    </li>

                    <li>
                        <h4>Antiguedad de la unidad</h4>
                        <p>La unidad al final del periodo no debe de superar los 5 años. Como ejemplo una unidad con 4 años se podrá dar en arriendo por un plazo máximo de 12 meses.</p>
                    </li>

                    <li>
                        <h4>Gasto, no deuda</h4>
                        <p>En el caso de las compañías y de los independientes adquirir un vehículo por leasing no consta como un aumento de la deuda empresarial. De esta manera, se pueden llevar a cabo nuevas inversiones sin riesgo de penalización por parte de las distintas entidades de crédito ya que es una operación que no aparece en el sistema financiero. A esto hay que añadir que el vehículo puede deducirse como gasto a la hora de pagar el Impuesto de Sociedades.</p>
                    </li>

                    <li>
                        <h4>Mantenimientos</h4>
                        <p>Los gastos de mantenimiento, averías y reparaciones son por parte del arrendatario. Marubeni cuenta con su propio taller el cual se usa para las operaciones de leasing. Como ventajas para los clientes de leasing Financiero se traspasa el descuento flotista a todos los operadores de Leasing Financiero.</p>
                    </li>
                    <li>
                        <h4>Opción de Compra</h4>
                        <p>Al igual que en el Leasing Financiero, pagando la ultima renta se transfiere la propiedad del bien al antiguo dueño.</p>
                    </li>
                </ol>

                <a class="primary-action mt-4" href="#" onclick="cotizar();" role="button">Cotice su servicio</a>
            </div>

            <div class="col-md-4 img-content">
                <!-- imagen -->
                <img src="~/img/leaseback_marubeni_interior.jpg" alt="Marubeni leasing">
            </div>

        </div>
    </div>
</section>



<section class="asesoria">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-info-ban">
                    <h3><span>Necesitas</span> Asesoría?</h3>
                    <p>Si tienes dudas o consultas dobre nuestros servicios de negocio, solo tome contacto con nosotros.</p>
                    <a class="primary-action secundary-action" onclick="contacto()" role="button">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="empresa">
    <div class="container">
        <h2><span>Somos la mejor solución</span><br>para tu empresa</h2>
        <div class="separador-2"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon">
                        <img src="~/img/iconos/flotas-disponibles-icono.svg">
                    </div>
                    <h4>Flotas Disponibles</h4>
                    <p>Contamos con productos flexibles y personalizados únicos en la industria.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/costos-conocidos-icono.svg"></div>
                    <h4>Costos conocidos</h4>
                    <p>Permite planificar el flujo de caja (tarifa mensual conocida), Elimina los costos imprevistos y ocultos derivados de tener flota propia.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/beneficios-icono.svg"></div>
                    <h4>Beneficios</h4>
                    <p>Es un arriendo con importantes beneficios tributarios.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/sin-inversion-flota-icono.svg"></div>
                    <h4>Sin inversión de flotas</h4>
                    <p>Libera recursos para la actividad principal de la empresa.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/control-icono.svg"></div>
                    <h4>Control</h4>
                    <p>Total control de la flota a través de un solo proveedor.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/continuidad-operacional-icono.svg"></div>
                    <h4>Continuidad Operacional</h4>
                    <p>Tenemos una red certificada de centros de atención, y también entregamos vehículos de reemplazo para la continuidad operacional.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/page/Leaseback.js"></script>
