<div class="encabezado bg-header-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title">
                    <div class="breadcrumbs"><a href="index.html">Home</a> / <span>Leasing Operativo</span></div>
                    <h1>Leasing Operativo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="espaciado">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- video -->
                <img class="detail" src="~/img/bg-video-leasing-operativo.png" class="img-responsive " alt="" />
            </div>
            <div class="col-md-6">
                <h2><span>¿Qué es un</span><br> Leasing Operativo?</h2>
                <div class="separador red mt-5 mb-5"></div>
                <p>El Leasing Operativo es el arrendamiento de un vehículo donde se incluye en el pago  de la renta mensual:</p>

                <p>La documentación anual que es  el permiso de circulación, SOAP,  revisión técnica (en un vehículo cero km se debe realizar al tercer año de uso), se incluye además las mantenciones preventivas, cambio de neumáticos (por desgaste natural de uso), Seguro Vehicular, acceso a plataforma GPS que va con corta corriente, gestión de administración del TAG. Una vez terminado el periodo de arrendamiento el vehículo se devuelve y se puede renovar contrato por otro cero KM.</p>

                <ul class="list-content">
                    <li>Para contratar leasing operativo y poder entregar la tarifa mensual, el cliente debe proporcionar  el plazo a contratar y el kilometraje estimado a recorrer en ese periodo, si al finalizar el periodo de arrendamiento el cliente sobrepasó el kilometraje comprometido en el contrato se cobrará un exceso de kilometraje.</li>
                    <li>La renta de leasing operativo se factura mensualmente al cliente, esto le permite  declararla como gasto en su rendición tributaria.</li>
                    <li>El cliente debe contratar leasing operativo en vehículos  donde de acuerdo a su giro comercial no sean declarados como gasto rechazado.</li>
                </ul>
                <a class="primary-action mt-4" onclick="cotizar();" role="button">Cotice su servicio</a>


            </div>
        </div>
    </div>
</section>

<section class="espaciado">
    <div class="container">

        <h2><span>¿Porqué usar</span><br>Leasing Operativo?</h2>
        <p><strong>Externalizar la gestión de flota libera tiempo y recursos de la empresa.</strong></p>
        <div class="row mb-4">
            <div class="col-md-3">
                <h3 class="red-color">01</h3>
                <h5>Revisiones Técnicas</h5>
            </div>
            <div class="col-md-3">
                <h3 class="red-color">02</h3>
                <h5>RRHH y Finanzas</h5>
                <p>Nosotros enviamos facturas y estados de pago.</p>
            </div>
            <div class="col-md-3">
                <h3 class="red-color">03</h3>
                <h5>Cías. de Seguros</h5>
                <p>Apoyamos en completar la información para presentar a cías.</p>
            </div>
            <div class="col-md-3">
                <h3 class="red-color">04</h3>
                <h5>Multas</h5>
                <p>Módulo de gestión de multas.</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-3">
                <h3 class="red-color">05</h3>
                <h5>Gestión Siniestros</h5>
                <p>Revisar con ítems Compañías Aseguradoras.</p>
            </div>
            <div class="col-md-3">
                <h3 class="red-color">06</h3>
                <h5>Talleres</h5>
                <p>Dependiendo de la marca, tenemos convenios con talleres exclusivos.</p>
            </div>
            <div class="col-md-3">
                <h3 class="red-color">07</h3>
                <h5>Administración Tag</h5>
                <p>Cliente tendrá todos los meses junto a su factura de leasing la nota de cobro por el tráfico TAG y factura por gestión de TAG.</p>
            </div>
            <div class="col-md-3">
                <h3 class="red-color">08</h3>
                <h5>Venta usados</h5>
                <p>Cliente debe despreocuparse de la vemtga del vehículo una vez terminado el contrato, ya que se devuelve y se renueva por otro 0 kilometro.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <h3 class="red-color">09</h3>
                <h5>Neumáticos</h5>
                <p>Se cambian de acuerdo a la recomendación del taller autorizado.</p>
            </div>
        </div>

    </div>
</section>

<section class="asesoria">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-info-ban">
                    <h3><span>Necesitas</span> Asesoría?</h3>
                    <p>Si tienes dudas o consultas dobre nuestros servicios de negocio, solo tome contacto con nosotros.</p>
                    <a class="primary-action secundary-action" onclick="contacto();" role="button">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="empresa">
    <div class="container">
        <h2><span>Somos la mejor solución</span><br>para tu empresa</h2>
        <div class="separador-2"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon">
                        <img src="~/img/iconos/flotas-disponibles-icono.svg">
                    </div>
                    <h4>Flotas Disponibles</h4>
                    <p>Contamos con productos flexibles y personalizados únicos en la industria.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/costos-conocidos-icono.svg"></div>
                    <h4>Costos conocidos</h4>
                    <p>Permite planificar el flujo de caja (tarifa mensual conocida), Elimina los costos imprevistos y ocultos derivados de tener flota propia.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/beneficios-icono.svg"></div>
                    <h4>Beneficios</h4>
                    <p>Es un arriendo con importantes beneficios tributarios.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/sin-inversion-flota-icono.svg"></div>
                    <h4>Sin inversión de flotas</h4>
                    <p>Libera recursos para la actividad principal de la empresa.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/control-icono.svg"></div>
                    <h4>Control</h4>
                    <p>Total control de la flota a través de un solo proveedor.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/continuidad-operacional-icono.svg"></div>
                    <h4>Continuidad Operacional</h4>
                    <p>Tenemos una red certificada de centros de atención, y también entregamos vehículos de reemplazo para la continuidad operacional.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/page/LeasingOperativo.js"></script>