<div class="encabezado bg-header-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-title">
                    <div class="breadcrumbs"><a href="index.html">Home</a> / <span>Seguro Siniestros</span></div>
                    <h1>Seguro Siniestros</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="espaciado">
    <div class="container">
        <div class="row">

            <div class="content-title">
                <h2><span>En caso de un</span><br> Siniestro</h2>
                <div class="separador red mt-5 mb-5"></div>
            </div>

            <div class="col-md-8">
                <p>En caso de siniestro notificar a través de un correo a eduardo.jerez@Marubeni.cl con la siguiente información:</p>
                <ol>
                    <li>
                        <p>Completar y adjuntar en correo <strong>“FORMULARIO HDI”</strong>.</p>
                    </li>

                    <li>
                        <p>Adjuntar en correo copia de licencia de conducir por ambos lados.</p>
                    </li>

                    <li>
                        <p>Adjuntar en correo copia de la solicitud de primera inscripción</p>
                    </li>

                    <li>
                        <p>Adjuntar en correo en caso de robo parte policial.</p>
                    </li>

                </ol>
                <p><strong>*</strong> El plazo máximo para el envío es de 10 días corridos desde ocurrido el siniestro, para  Robo de vehículos el aviso debe ser inmediato.</p>

                <p><strong>*</strong> En caso de existir terceros involucrados, queda estrictamente prohibido transigir o celebrar cualquier tipo de acuerdo. </p>

                <p><strong>*</strong> En día hábil, debe ser comunicado a Marubeni Leasing y en horarios no hábiles, directamente con la Compañía de Seguros HDI al fono 600 600 6010.</p>

                <a class="primary-action mt-4" href="~/descargas/FORMULARIO_HDI_Declaracion_Jurada.xlsx" role="button">Descargue Formulario AQUÍ</a>
            </div>

            <div class="col-md-4 img-content">
                <!-- imagen -->
                <img src="~/img/siniestro_marubeni_interior.jpg" alt="Marubeni leasing">
            </div>

        </div>
    </div>
</section>

<section class="empresa">
    <div class="container">
        <h2><span>Somos la mejor solución</span><br>para tu empresa</h2>
        <div class="separador-2"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon">
                        <img src="~/img/iconos/flotas-disponibles-icono.svg">
                    </div>
                    <h4>Flotas Disponibles</h4>
                    <p>Contamos con productos flexibles y personalizados únicos en la industria.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/costos-conocidos-icono.svg"></div>
                    <h4>Costos conocidos</h4>
                    <p>Permite planificar el flujo de caja (tarifa mensual conocida), Elimina los costos imprevistos y ocultos derivados de tener flota propia.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/beneficios-icono.svg"></div>
                    <h4>Beneficios</h4>
                    <p>Es un arriendo con importantes beneficios tributarios.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/sin-inversion-flota-icono.svg"></div>
                    <h4>Sin inversión de flotas</h4>
                    <p>Libera recursos para la actividad principal de la empresa.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/control-icono.svg"></div>
                    <h4>Control</h4>
                    <p>Total control de la flota a través de un solo proveedor.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-caption">
                    <div class="content-icon"><img src="~/img/iconos/continuidad-operacional-icono.svg"></div>
                    <h4>Continuidad Operacional</h4>
                    <p>Tenemos una red certificada de centros de atención, y también entregamos vehículos de reemplazo para la continuidad operacional.</p>
                </div>
            </div>
        </div>
    </div>
</section>